/*------------------------ About me ------------------------*/
.about-me {
    padding: 50px 0;
    /* background-color: #f9f9f9; */
    background: linear-gradient(320deg, #ffffff, #ffffff 70%, var(--purple));
    min-height: 100vh;
}

.container-about-me {
    margin-top: 40px;
    margin: 0px 200px;
    display: flex;
    align-items: center;
    gap: 150px;
}

.about-me-photo {
    flex: 0 0 auto;
    padding-top: 160px;
}

.about-me-img {
    width: 400px;
}

.about-me-text {
    flex: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 1.6;
    color: #333;
}

.about-me-text p {
    margin-bottom: 15px;
}

.more-text {
    display: none; /* Скрываем дополнительный текст */
}

.read-more-btn {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: var(--black-border);
}

.read-more-btn:active {
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}